<div class="row">
    <div class="col-12">
      <form [formGroup]="gameFormGroup" *ngIf="gameFormGroup" (ngSubmit)="formSubmit()">
        <div class="card">
          <div class="card-header">
            <div class="left">Game</div>
          </div>
          <div class="card-body text-center">
            <div class="d-flex justify-content-center flex-wrap">
              <app-game-panel class="m-3" *ngFor="let gamePanelControl of this.gamePanelArray.controls; let panelIndex = index" [myFormControl]="gamePanelControl" [panelIndex]="panelIndex" [panelConfig]="gameConfig.panelConfig"></app-game-panel>
            </div>
            <button class="btn btn-danger mt-4 playBtn" type="submit" id="playButton">Play</button>
          </div>
          <div *ngFor="let p of this.gamePanelArray.controls; let pIndex = index" class="card-footer">
            <span>Panel{{ pIndex + 1 }}:</span>
            <span *ngIf="this.finalValues[pIndex]" id="message{{pIndex + 1}}"> {{ this.finalValues[pIndex].error ? this.finalValues[pIndex].error : this.finalValues[pIndex].value.toString() }}</span>
          </div>
        </div>
      </form>
    </div>
  </div>